<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hankun.satokenlearn.mapper.MyJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hankun.satokenlearn.entity.MyJob">
        <id column="job_id" property="jobId" />
        <result column="job_name" property="jobName" />
        <result column="status" property="status" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        job_id, job_name, status, sort, create_time, update_time
    </sql>

    <!-- 通用查询结果列 别名 -->
    <sql id="Base_Column_List_Alias">
        myJob.job_id AS jobId,myJob.job_name AS jobName,myJob.status,myJob.sort,myJob.create_time AS createTime,myJob.update_time AS updateTime
    </sql>
</mapper>
